extends layout

block body

  #welcome.jumbotron
    h1 !Bienvenido a la cena de Mapbox Peru!
     img(src='./img/cena.jpg')

    p.lead.
      <br/>
      <br/>
    p.bigbutton
      a.bigbutton.btn.btn-lg.btn-danger(href='/register', role='button') Register

  include footer.jade
  div &nbsp;
  div &nbsp;
