extends layout

block body

  .login
    .row
      .col-lg-6.col-lg-offset-3
        form.bs-example.form-horizontal(method='post', action='')
          fieldset
            legend Login
            if error
              .alert.alert-dismissable.alert-danger.login-fail
                button.close(type='button', data-dismiss='alert') &times;
                p.
                  #{error}
            p.last-p.
             Una vez que ingresas tus credenciales y presionas el boton de Login,
               tus credenciales seran enviados y verificados de manera segura  a
              <a href="https://stormpath.com">Stormpath</a> . Si sus credenciales son validos, estaras logueado usando una sesion segura de lo contrario tendras un mensaje de error amigable. 
              
            .form-group
              label.col-lg-4.control-label(for='username') Correo
              .col-lg-4
                input#username.form-control(type='email', name='username', placeholder='Email', autofocus)
            .form-group
              label.col-lg-4.control-label(for='password') Contrasena
              .col-lg-4
                input#password.form-control(type='password', name='password', placeholder='Password')
            .form-group
              .col-lg-10.col-lg-offset-4
                button.btn.btn-primary(type='submit') Login

    include footer.jade
