extends layout

block body

  .register
    .row
      .col-lg-6.col-lg-offset-3
        form.bs-example.form-horizontal(method='post', action='')
          fieldset
            legend Crearse una cuenta nueva
            if error
              .alert.alert-dismissable.alert-danger.register-fail
                button.close(data-dismiss='alert', type='button') &times;
                p.
                  #{error}
            p.
              Registrarse en esta pagina le creara una nueva cuenta de usuario para ud. 
              via <a href="https://stormpath.com">Stormpath</a>, luego te loguearas automaticamente.
             
            .alert.alert-dismissable.alert-info
              button.close(data-dismiss='alert', type='button') &times;
              p.
                #[strong NOTA: ]Tu contrasenia debe de tener entre  8 y 100 caracteres, y debe contener letras minusculas, mayusculas y numeros.
            .form-group
              label.col-lg-4.control-label(for='username') Email
              .col-lg-4
                input#username.form-control(name='username', type='email', placeholder='Email', autofocus)
            .form-group
              label.col-lg-4.control-label(for='password') Password
              .col-lg-4
                input#password.form-control(name='password', type='password', placeholder='Password')
            .form-group
              .col-lg-10.col-lg-offset-4
                button.btn.btn-primary(type='submit') Registrarse
  include footer.jade
  div &nbsp;
  div &nbsp;
